@import url("OpenSans.css") 'Open Sans';

/* =CSS Reset : reset default browser style
-------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, footer, header,
hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff;
	color: #b9b8b8; 
	font-size: 13px; 
	line-height: 18px;
	font-weight: 300;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
article, aside, details, figcaption, figure, footer,
header, hgroup, nav, section {
	display: block;
}
table {width: 100%; border-collapse: collapse; border-spacing: 0;}
ul, ol {
	display: block;
	padding: 0;
	margin: 0 0 10px 20px;
}
ul ul, ul ol,
ol ol, ol ul {margin-bottom: 0;}
li {padding-left: 8px;}
.clearfix {*zoom: 1;}
.clearfix:before, 
.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	overflow: hidden;
	visibility: hidden;
	width: 0px;
}
.clearfix:after {clear: both;}

/* =Layout
-------------------------------------------------------------- */
html,
body {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 100%;
}
body {
	position: relative;
}
div.body,
div.body .wrapper,
div.dialog,
div.dialog .wrapper {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	min-width: 100%;
	min-height: 100%;
}
div.body,
div.dialog {
	display: table;
}
div.body .wrapper,
div.dialog .wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
div.body .boxed,
div.dialog .boxed {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 300px;
	margin: 20px auto;
}
div.body .intro {
	margin: 30px 0 0 0;
}
div.body .intro .error {
	margin: 12px 0 0 0;
	color: #ff0000;
}
div.body .box,
div.dialog .box {
	margin: 20px 0 10px 0;		
}
div.body.hide {
	display: none;
}

/* Dialog */
div.dialog .wrapper {
	background: rgba(255,255,255,0.7);
}
div.dialog .boxed {
	width: 700px;
	margin: 20px auto;
}
div.dialog .box {
	text-align: left;	
}
div.dialog .box .button {
	margin: 15px 0 0 0;
	text-align: center;
}
div.dialog .box .button input[type="button"] {
	width: 200px;
}

/* =Form
-------------------------------------------------------------- */
/* Input */
input, button, select, textarea {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	vertical-align: middle;
	resize: none;
}
textarea {
	display: block;
}
button, input {
	*overflow: visible;
	line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
input:-moz-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999999;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	cursor: not-allowed;
	background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
	background-color: transparent;
}

/* Button and Submit */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

/* Search */
input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Checkbox and Radio */
input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
	cursor: pointer;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
	width: auto;
}

/* Select and File */
/*select,
input[type="file"] {
	height: 30px;
	*margin-top: 4px;
	line-height: 30px;
}*/
/* In IE7, the height of the select element cannot be changed by height, only font-size */
/* For IE7, add top margin to align select with labels */

select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* Custom */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top: solid 1px #e2e1e1;
	border-right: solid 1px #e2e1e1;
	border-bottom: solid 1px #e2e1e1;
	border-left: solid 1px #e2e1e1;
	background: #fff;
	padding: 10px 15px 10px 15px;
	color: #666;
	font-size: 17px;
	line-height: 17px;
}
select {
	padding: 5px 5px 5px 8px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus { 
	border-top: solid 1px #f0d648;
	border-right: solid 1px #f0d648;
	border-bottom: solid 1px #f0d648;
	border-left: solid 1px #f0d648;
	outline: 0;
	outline: thin dotted \9;
}
textarea.error,
input[type="text"].error,
input[type="password"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="color"].error {
	border-top: solid 1px #dc5c5c;
	border-right: solid 1px #dc5c5c;
	border-bottom: solid 1px #dc5c5c;
	border-left: solid 1px #dc5c5c;
	background: url('../images/icons/input_error.png') 100% 50% no-repeat;
}

/* Button and Submit */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #f26522;
	background: #f26522;
	padding: 10px 20px;
	color: #fff !important;
	text-transform: uppercase;
	font-weight: 600;
}
a.button {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	text-transform: uppercase;
}
a.button:hover {
	text-decoration: none;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:hover {}
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
a.button:active {}

form,
form fieldset {}
fieldset div.clearfix {
	margin: 0 0 12px 0;
}
fieldset div.clearfix:last-child {
	margin: 0 0 0 0;
}


/* =Custom
-------------------------------------------------------------- */
#login input {
	width: 100%;
}
#status.box,
#logout.box,
#alogin.box {
	margin: 30px 0 10px 0;
}
#status.box table,
#logout.box table {
	margin: 0 0 10px 0;
}
#status.box table:last-child,
#logout.box table:last-child {
	margin: 0 0 0 0;
}
#status.box h3,
#logout.box h3,
#alogin.box h3 {
	margin: 0 0 15px 0;
	font-size: 16px;
	line-height: 16px;
	font-weight: 300;
	color: #666;
}
#status.box h3 strong {
	font-weight: 600;	
}
#status.box table,
#logout.box table {
	text-align: left;
}
#status.box table td,
#logout.box table td {
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid #eee;
}
#status.box table td:last-child,
#logout.box table td:last-child {
	padding: 5px 10px 5px 0;
}

/* =Responsive
-------------------------------------------------------------- */
/* Resolution 1280 */
@media only screen and (max-width:1280px) {
	
}

/* Resolution 1024 */
@media only screen and (max-width:1024px) {
	
}

/* Resolution 900 */
@media only screen and (max-width:900px) {
	
}

/* Resolution 800 */
@media only screen and (max-width:800px) {
	div.dialog,
	div.dialog .wrapper {
		display: block;
	}
	div.dialog .boxed {
		width: 100%;
		margin: 0 0 0 0;
		padding: 20px 20px 20px 20px;
	}	
}

/* Resolution 600 */
@media only screen and (max-width:600px) {
	
}

/* Resolution 480 */
@media only screen and (max-width:480px) {
	div.dialog .boxed {
		padding: 15px 15px 15px 15px;
	}	
}

/* Resolution 320 */
@media only screen and (max-width:320px) {
	div.body,
	div.body .wrapper {
		display: block;
	}
	div.body .boxed {
		width: 100%;
		margin: 0 0 0 0;
	}
	div.body .boxed,
	div.dialog .boxed {
		padding: 10px 10px 15px 10px;		
	}
}
